/* All Pages */
body {
    background-color: #124559;
    color: #FFFAFB;
    /* overflow-x: hidden; */
}

.navbar {
    background-color: #01161E;
}

/* WoB Styling */
button {
    font-size: larger;
}

#button_set {
    bottom: 0;
}

/* Character Cards */
.image-card {
    position: absolute;
    width: inherit;
    height: inherit;
    max-width: 30vw;
    max-height: 45vw;
    transition: transform 0.3s ease-in-out, opacity 0.3s linear;
    border-radius: 50px;
    border: 5px solid #124559;
    border-width: 20px 0 20px 0;
}

#image-container {
    transition: opacity .3s;
}

@media (max-width: 576px) {
    .image-card {
        max-width: 100%;
        max-height: fit-content;
    }
}