/* All Pages */
body {
    background-color: #124559;
    color: #FFFAFB;
    /* overflow-x: hidden; */
}

.navbar {
    background-color: #01161E;
}

/* WoB Styling */
button {
    font-size: larger;
}

#button_set {
    bottom: 0;
}

/* Character Cards */
.image-card {
    /* position: absolute; */
    max-width: inherit;
    max-height: inherit;

    border-radius: 50px;
    border: 10px solid #124559;
}

.race-block {
    transition: transform 0.3s ease-in-out, opacity 0.3s linear;
    max-width: 30vw;
    max-height: 45vw;

    position: absolute;
    overflow: hidden;
}

.race-title {
    font-size: 2em;
    background-color: rgba(0, 0, 0, .33);
    position: absolute;
    bottom: 0;
    left: 20px;
    padding: 0 10px 0 10px;
    border-radius: 50px;
    /* Standard syntax */
    user-select: none;

    /* Safari */
    -webkit-user-select: none;
}

#image-container {
    transition: opacity .3s;
}

@media (max-width: 576px) {
    .race-block {
        max-width: 100%;
        max-height: fit-content;
    }
}