/* All Pages */
body {
    background-color: #124559;
    color: #FFFAFB;
    /* overflow-x: hidden; */
}

.navbar {
    background-color: #01161E;
}

/* SoP Styling */
button {
    font-size: larger;
}

#button_set {
    bottom: 0;
}

/* Character Cards */
.image-card {
    /* background-color: pink; */
    position: absolute;
    width: inherit;
    height: inherit;
    max-width: 30dvw;
    max-height: 40dvw;
    transition: transform 0.3s ease-in-out, opacity 0.3s linear;
    border-radius: 50px;
    border: 5px solid #FFFAFB;
    border-top-width: 20px;
    border-bottom-width: 20px;
    background-color: #FFFAFB;;
}

/* Testing */